 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Urbanist:ital,wght@0,500;1,500&display=swap');

 p {
     font-family: 'Montserrat', sans-serif;
     font-family: 'Urbanist', sans-serif;
 }

 h1 {
     font-family: 'Montserrat', sans-serif;
     font-family: 'Urbanist', sans-serif;
 }